header span.titulo {
  font-family: "Saira";
  font-weight: 700;
  /* margin-left:50px; */
}

/* font-family: "Poppinis"; */
.header-2{
  display: flex;
}
header {
  overflow: hidden;
  padding: 20px 10px;
}

header a {
  float: left;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: "Saira";
}

header .logo {
  display: flex; 
  flex-direction: column;
  color: #2C2E41;
  font-size: 48px;
  font-family: Saira;
  font-style: normal;
  font-family: "Poppinis";
  font-weight: 400;
  line-height: normal;
}

header img {
  width: 84px;
  height: 88px;
  flex-shrink: 0;
}
span.subtitleh {
  color: rgba(44, 46, 65, 0.50);
  font-size: 12px;
  font-family: Poppins;
  /* font-style: normal; */
  font-weight: 400;
  line-height: normal;
  margin-top: -25px;
  margin-left: -60vh;
}


.titulo span{color: #0360a1;}

h1 {
  font-family: "Saira";
  /* font-family: "Poppinis"; */
  font-weight: 700;
}
/* @media (min-width: 360px){
  header span.titulo{

  }
  } */