#mais-procurados h1{
  font-size: 3rem;
  font-weight: 700;
}

.mais-procurados-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.mais-procurados-cards img {
  max-width: 100px;
}

/* MOBILE */
@media (max-width: 800px) {
  .mais-procurados-cards {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}