/* Estou chamando os estilos de header */
@import url("./base/base.css");
@import url("./base/footer.css");
@import url("./home/cartoes.css");
@import url("./home/header.css");
@import url("./home/hero.css");
@import url("./home/mais-procurados.css");
@import url("./home/projetos.css");
@import url("./home/sobre.css");

:root {
  --fundo: #F0F3F9;
}

body {
  margin: 0;
  height: 100vh;
  background: var(--fundo);
}

